.App {
  text-align: center;
}

/*for first page */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background-image: url(./images/anastasia-dulgier-675630-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*for first page */
.hero-inner {
  width: 50%;
  background: white;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

/*for first page */
.hero h1 {
    /* Text styles */
    font-size: 6em;
    font-family:'Cedarville Cursive', cursive;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

/*for first page */
  .hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;


    /* Border styles */
    border: 3px solid black;
    border-radius: 20px;
}

/*for first page */
  .hero .btn:hover {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: rgb(160, 7, 72);
    text-decoration: none;
    font-size: 1.5em;


    /* Border styles */
    border: 3px solid rgb(160, 7, 72);
    border-radius: 20px;
}

/*
  The auto gives you fixed size and scrolling when it gets too big
  If you want it to be flexible and expand, use min-height?

  The not dragging is because of how deeply nested in the HTML the words are.
  They are behind other elements now so you can't actually click them ouside of the div.
*/
#word-list {
  border: 2px solid black;
  /* min-width: 70%; */
  min-height: 600px;
  /* float: right; */
  /* overflow: auto; */
  margin: 0 auto;
  flex: 1;
  width: 900px;
  height: 500px;
}

#writing-area {
  border: 2px solid black;
  min-height: 600px;
  /* width: 70%;
  height: 600px; */
  float: left;
  margin: 0 auto;
  /* flex: 1; */
}

.word {
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
  margin: 1px;
}

.writing-container {
  /* display: flex; */
}

.hidden {
  visibility: hidden;
}

.main-buttons {
  margin: 5px;
  color: blue;
}

.carousel-container {
  margin: 0 auto;
  width: 750px;
}

.carousel-control {
  background: none !important;
}

/*attempting to get delete button to float to the side of the poem container*/
/* .carousel-caption {
  width: 100% !important;
} */

.delete-button {
  color: black;
}

.user-details {
  float: left;
}

/*an attempt to center content vertically*/
/* .user-details p {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
} */
